<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="http://demo.joygle.com/img/logo-joygle-big.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Rent</a></li>
                    <li><a href="#">Mortgage</a></li>
                    <li><a href="#">Sell</a></li>
                    <li><a href="#">Find an Agent</a></li>
                    <li><a href="#">Local Scoop</a></li>
                    <li><a href="#">More <span class="caret"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="main flex">
        <section class="section">
            <div class="vertical-container">
                <div class="vertical">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-2 hide-xs"></div>
                            <div class="col-xs-8 col-md-8">
                                <h2 class="text-center">Find the right home and neighborhood for you</h2>
                                <form>
                                    <div class="form-group">
                                        <label class="uppercase" for="state">State</label>
                                        <select name="state" id="state" class="form-control">
                                            <option value="georgia">Georgia</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="zipcode">Zip Code</label>
                                        <input type="text" name="zipcode" id="zipcode" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="county">County</label>
                                        <select name="county" id="county" class="form-control">
                                            <option value="-">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="city">City</label>
                                        <select name="city" id="city" class="form-control">
                                            <option value="-">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="price">Price Range</label>
                                        <select name="price" id="price" class="form-control">
                                            <option value="-">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="id">ID</label>
                                        <input type="text" name="id" id="id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="uppercase" for="system">System</label>
                                        <select name="system" id="system" class="form-control">
                                            <option value="-">All</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="btn btn-ghost btn-block uppercase">Reset</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="btn btn-joygle btn-block uppercase">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs2 col-md-2 hide-xs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d863309.9225624632!2d-83.6372728939407!3d32.303675253618984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sve!4v1484463981554" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
    </main>
</body>
</html>