html {
    height: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    min-height: 100%;
}
.main {
    margin: 0;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
/* //// NAVBAR \\\\ */
nav.navbar.navbar-default {
    background-color: #ff6600 !important;
    margin: 0;
    border: 0;
    border-radius: 0;
}
nav.navbar .navbar-brand img{
    position: relative;
    bottom: .6rem;
}
nav.navbar .navbar-toggle .icon-bar {
    background: white;
}
nav.navbar .navbar-toggle:hover {
    background: white;
}
nav.navbar .navbar-toggle:hover .icon-bar {
    background: #ff6600;
}
nav.navbar .navbar-collapse {
    background: white;
}
nav.navbar .navbar-collapse .navbar-nav li {
    transition-duration: .2s;
}
nav.navbar .navbar-collapse .navbar-nav li:hover {
    background: rgba(0,0,0,0.1);
}
/* //// SECTIONS \\\\ */
.flex .section {
    width: 100%;
    height: 100%;
}
.flex .section:first-child {
    position: relative;
    background: url('../images/house.jpg');
    background-size: cover;
    background-position: 50% 50%;
}
.main.flex .section:first-child .container {
    position: relative;
    width: 100% !important;
    max-width: 1000px !important;
    z-index: 2;
}
.main.flex .section .container h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
}
.flex .section:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}
.flex .section:last-child {
    position: relative;
}
/* //// FORMS \\\\ */
.flex .section:first-child form {
    background: rgba(255,255,255,0.2);
    padding: 2rem;
}
.flex .section:first-child form label {
    color: white;
}
.flex .section:first-child form .form-control {
    border-radius: 0;
}
/* //// BUTTONS \\\\ */
.flex .section:first-child form .btn {
    border-radius: 0;
}
.btn.btn-ghost {
    border: 2px solid white;
    color: white;
    background: transparent;
}
.btn.btn-joygle {
    border: 2px solid #ff6600;
    background: #ff6600;
    color: white;
}
.flex .section:first-child form .btn.btn-joygle {
    position: relative;
    top: 10px;
}
/* //// MAP \\\\ */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* //// HELPER CLASSES \\\\ */
.vertical-container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vertical-container .vertical{
    display: table-cell;
    vertical-align: middle;
}
.uppercase {
    text-transform: uppercase;
}
/* //// RESPONSIVE \\\\ */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav.navbar .navbar-collapse {
        background: transparent;
    }
    nav.navbar .navbar-collapse .navbar-nav li a {
        color: white;
    }
    .main.flex .section{
        flex: 1;
    }
    .flex .section:first-child form .btn.btn-joygle {
        top: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
